/*font-family: 'Press Start 2P', cursive;
font-family: 'Pangolin', cursive;*/

* {
	user-select: none;
}

body {
	background-color: #ddd;
}

a {
	text-decoration: none;
}

#header {
	background-color: #ffbb42;
	width: 100%;
	height: 150px;
	background-image: inherit;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.wrap {
	max-width: 1170px;
	margin: 0px auto;
	height: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}

.wrap.head {
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-end;
}

.headSentence {
	display: flex;
	align-items: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 35px;
	height: 100%;
	color: #f8f8f6;
	user-select: none;
}

#container {
	overflow: hidden;
	min-height: 100vh;
	background-image: url("noiseImg.png");
}

#allContent {
	height: 100%;
	padding-top: 10px;
}

.games {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
}

.game {
	width: 300px;
	height: 300px;
	background-color: #333;
	margin: 10px;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
	color: #fff;
	font-family: 'Pangolin', cursive;
	border-radius: 10px;
	padding: 10px;
	transition: .2s;
	position: relative;
	overflow: hidden;
}

.alertTitle {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0px;
	top: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.game:hover .alertTitle {
	top: 0px;
	transition: .2s;
}

#firstGameBlock {
	background-image: url("firstImg.jpg");
	background-size: cover;
}

#secondGameBlock {
	background-image: url("secondImg.jpg");
	background-size: cover;
}

#thirdGameBlock {
	background-image: url("thirdImg.jpg");
	background-size: cover;
}

.gameOne {
	display: flex;
	font-family: 'Pangolin', cursive;
	font-size: 28px;
}

.question,
.result {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}

.result h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

.result p {
	font-size: 22px;
	color: #252525;
	user-select: text;
}

#resultContent {
	line-height: 30px;
}


input[type="text"] {
	border: 0px;
	background-color: #fff;
	padding: 5px;
	outline: none;
	font-family: inherit;
	font-size: 20px;
	border-radius: 3px;
	margin: 10px auto 0px;
}

#nextButton {
	padding: 20px 50px;
	font-family: inherit;
	background-color: #00b454;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
}

.invis {
	display: none;
}

.anime {
	overflow: hidden;
	position: relative;
	height: 300px;
	display: flex;
	align-items: center;
}

@media(max-width: 1060px) {
	.games {
		flex-direction: column;
		align-items: center;
	}
	.anime {
		display: none;
	}
}

.animeText {
	position: absolute;
	left: 100%;
	animation: review 3s infinite;
	animation-timing-function: cubic-bezier( .1, .7, 1, .1);
	animation-play-state: paused;
	font-family: 'Pangolin', cursive;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 2px 2px 2px #555;
	color: #333;
}

#reviewText {
	letter-spacing: 7px;
	display: flex;
	justify-content: center;
	min-width: 900px;
}

#reviewCompany {
	display: flex;
	justify-content: center;
	width: 100%;
}

#stars {
	color: #ffbb42;
}

@keyframes review {
	from { left: 100%; }
	to { left: -100%; }
}